html{
	overflow-x: hidden;
}
body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #333;
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: none;
	overflow-x: hidden;
}
a{
	color: #08C;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
p{
	line-height: 1.5em;
}
body>header{
	background-image: -webkit-linear-gradient(top, #eee, #fff 5px);
	background-image: -moz-linear-gradient(top, #eee, #fff 5px);
	background-image: -ms-linear-gradient(top, #eee, #fff 5px);
	background-image: -o-linear-gradient(top, #eee, #fff 5px);
	background-image: linear-gradient(top, #eee, #fff 5px);
}
.body-section{
	background-image: -webkit-linear-gradient(top, #f9f9f9, #fff 200px);
	background-image: -moz-linear-gradient(top, #f9f9f9, #fff 200px);
	background-image: -ms-linear-gradient(top, #f9f9f9, #fff 200px);
	background-image: -o-linear-gradient(top, #f9f9f9, #fff 200px);
	background-image: linear-gradient(top, #f9f9f9, #fff 200px);
	border-top: 1px solid #ddd;
}
.container{
	position: relative;
	margin: auto;
	max-width: 1024px;
	padding: 30px 0;
	text-align: center;
}
header .container{
	padding-left: 20px;
	padding-right: 20px;
}
header a{
	color: #333;
}
#app-icon{
	display: inline-block;
	width: 82px;
	height: 82px;
	background: #fff url(icons/app-icon.png) no-repeat;
	margin: 0 0 10px;
}
.container h1{
	font-size: 32px;
	margin: 0 0 10px;
	padding: 0;
	line-height: 1;
	letter-spacing: -1px;
}
.container h2{
	font-size: 28px;
	font-weight: normal;
	margin: 0 0 10px;
	padding: 0;
	letter-spacing: -1px;
	line-height: 1;
	line-height: 1.2;
}
.container h3{
	font-size: 1.1em;
	margin-top: 0;
	padding-top: 0;
	line-height: 1.2;
}
.container header{
	padding: 0 20px;
	text-shadow: 0 1px #fff;
}
.container p{
	margin: 0 0 20px;
	padding: 0;
	line-height: 1.3;
}
.available-button{
	color: #08C;
	display: inline-block;
	text-decoration: none;
	text-shadow: none;
	padding: 8px 20px;
	border-radius: 20px;
	border: 2px solid #eee;
	-webkit-transition: border-color .3s;
	-moz-transition: border-color .3s;
	-ms-transition: border-color .3s;
	-o-transition: border-color .3s;
	transition: border-color .3s;
}
.available-button:hover{
	border-color: #08C;
	text-decoration: none;
}
.screenshots-container{
	margin-top: 30px;
	margin-bottom: 30px;
}
.screenshot{
	background-color: #fff;
	border: 1px solid #333;
	box-shadow: 0 2px 3px rgba(0,0,0,.3);
	border-radius: 6px;
	margin: 0 -1px;
}
#iphone-screenshots-container{
	text-align: center;
	letter-spacing: 20px;
}
#iphone-screenshots-container div{
	display: inline-block;
	width: 320px;
	height: 460px;
	background-repeat: no-repeat;
	-moz-background-size: 320px 460px;
	-o-background-size: 320px 460px;
	background-size: 320px 460px;
	vertical-align: top;
}
#iphone-1-screenshot{
	background-image: url(screenshots/iphone-1.png);
	margin-bottom: 10px;
}
#iphone-2-screenshot{
	background-image: url(screenshots/iphone-2.png);
}
#ipad-container{
	display: none;
}
#web-1-screenshot{
	display: none;
}
#web-2-screenshot{
	display: inline-block;
	width: 320px;
	height: 600px;
	background: #fff url(screenshots/web-2.png) no-repeat;
}
.cols{
	margin: 20px 20px 0;
}
.col{
	text-align: left;
}
footer{
	font-size: 13px;
	text-align: center;
	padding: 20px;
	color: #666;
	background-color: #eee;
	background-image: -webkit-linear-gradient(top, #ddd, #eee 5px);
	background-image: -moz-linear-gradient(top, #ddd, #eee 5px);
	background-image: -ms-linear-gradient(top, #ddd, #eee 5px);
	background-image: -o-linear-gradient(top, #ddd, #eee 5px);
	background-image: linear-gradient(top, #ddd, #eee 5px);
	border-top: 1px solid #ccc;
}
@media all and (min-height: 481px){
	header .container{
		padding-top: 100px;
		padding-bottom: 100px;
	}
	footer{
		padding-top: 40px;
		padding-bottom: 40px;
	}
}
@media all and (min-height: 641px){
	header .container{
		padding-top: 150px;
		padding-bottom: 150px;
	}
}
@media all and (min-width: 640px){
	#ipad-container{
		display: block;
	}
	#ipad-screenshot-container{
		margin-left: 20px;
	}
	#ipad-screenshot{
		display: block;
		width: 1024px;
		height: 748px;
		background: #fff url(screenshots/ipad.png) no-repeat;
		-moz-background-size: 1024px 748px;
		-o-background-size: 1024px 748px;
		background-size: 1024px 748px;
	}
	#web-screenshot-container{
		margin-left: 20px;
	}
	#web-1-screenshot{
		display: inline-block;
		width: 800px;
		height: 600px;
		background: #fff url(screenshots/web-1.png) no-repeat;
		margin: 0px 0 30px;
	}
	#web-2-screenshot{
		display: none;
	}
	.cols{
		margin-top: 40px;
		text-align: center;
	}
	.col{
		vertical-align: top;
		display: inline-block;
		text-align: left;
	}
	.cols .col{
		width: 45%;
		margin: 0 2%;
	}
}
@media all and (min-width: 1024px){
	#ipad-screenshot-container{
		margin-left: 0;
	}
	#web-screenshot-container{
		margin-left: 0;
		position: relative;
		text-align: left;
	}
	#web-1-screenshot{
		margin: 20px 0 0;
	}
	#web-2-screenshot{
		position: absolute;
		display: inline-block;
		top: 0;
		right: 0;
	}
	.cols .col{
		width: 28%;
	}
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 3/2),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5) {
	
	#app-icon{
		width: 81px;
		height: 81px;
		-moz-background-size: 81px 81px;
		-o-background-size: 81px 81px;
		background-size: 81px 81px;
		background-image: url(icons/app-icon@2x.png);
	}
	#iphone-screenshots-container div{
		height: 548px;
		-moz-background-size: 320px 548px;
		-o-background-size: 320px 548px;
		background-size: 320px 548px;
	}
	#iphone-1-screenshot{
		background-image: url(screenshots/iphone-1@2x.png);
	}
	#iphone-2-screenshot{
		background-image: url(screenshots/iphone-2@2x.png);
	}
	#ipad-screenshot{
		background-image: url(screenshots/ipad@2x.png);
	}
}